* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  position: relative;
}

.custom-controls {
  position: absolute;
  margin-top: 140px;
  margin-left: 1120px;
  width: 5px;
}
.custom-indicators {
  position: absolute;
  margin-top: 10px;
  width: 200px;
}

.test-controls {
  position: absolute;
  margin-top: 170px;
  margin-left: 1120px;
  gap: 10px;
  width: 5px;
}
/* .test-indicators {
  position: absolute;
  width: 200px;
} */

/* Hero Service */
